<% render :file => 'service/header' %>

<form action="/add" method="post">
	<textarea type="text" name="thought" rows=3 cols=30></textarea><br>
	<input type="text" name="from"><br><br>
	<input type="submit" value="Add!">
</form>
