
<div class="first">
	<div class="thought">
		<span>
		If you announce your goals to others, you are less likely to make them happen because you lose motivation, studies confirmed.
		</span>
	</div>

	<div class="owner">
		<span>From www.factslides.com</span>
	</div>
</div>